.form-group {
  display: flex;
  flex-direction: column;

  .label {
    font-weight: bold;
    padding: 1em 0em;
    display: block;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  .submit {
    display: inline-flex;

    .form-control {
      width: 550px;
    }
  }

  .button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin-top: 25px;

    .cancel {
      min-width: 80px;
      padding-right: 0px;
      padding-left: 3px;
      .btn-info {
        display: flex;
        justify-content: center;
        width: 100%;
        cursor: pointer;
      }
    }
    .save {
      min-width: 80px;
      padding-left: 3px;
      padding-right: 3px;
      .btn-light {
        display: flex;
        justify-content: center;
        cursor: pointer;
        width: 100%;
        background: linear-gradient(
          to right,
          rgba(214, 97, 19, 0.644),
          rgb(212, 20, 20)
        );
        color: white;
        opacity: 0.7;

        mat-icon {
          margin-right: 2px;
        }
      }
    }
  }

  .btn-hover:hover {
    opacity: 1;
  }
}

.text-danger {
  font-size: smaller;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  button {
    font-size: small;
    height: 100%;
    display: flex;
    justify-content: center;
  }
}
