.section {
  .container-flex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 35%;
    background: linear-gradient(to right, #3c5f69, rgb(74, 215, 240));
  }

  .mat-h1 {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-left: 10%;

    h1 {
      color: white;
      font-weight: bold;
      font-size: 40px;
      padding: 100px;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    }
  }

  .dropdown {
    display: flex;
  }

  .drop-button {
    margin-right: 15px;
    margin-top: 15px;
    .btn-color {
      background-color: #418ba1;
    }
  }
  .dropdown.open.show {
    height: 10%;
  }

  .dropdown-item {
    padding-left: 6px;
    &:hover {
      cursor: pointer;
    }
  }

  #dropdown-animated.dropdown-menu.show {
    width: 91%;
    min-width: 90%;
  }
}

.add-todo-container {
  position: sticky;
  top: 0;
  z-index: 1;
}

.container {
  max-width: 700px;
  border: 1px solid #eee;
  display: flex;
  flex-direction: row;
  align-content: center;
  margin-top: -50px;
  background-color: white;
  box-shadow: 0px 1px 7px 2px #d6d6d6;
  padding-bottom: 1em;

  .label {
    font-weight: bold;
    padding: 1em 0em;
    display: block;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  .submit {
    display: inline-flex;
    width: 100%;

    .form-control {
      width: 550px;
    }

    .btn-hover {
      margin-left: 1em;
      display: flex;
      justify-content: center;
      background: linear-gradient(
        to right,
        rgba(214, 97, 19, 0.644),
        rgb(212, 20, 20)
      );
      color: white;
      cursor: pointer;
      opacity: 0.7;

      mat-icon {
        margin-right: 0.3em;
      }
    }

    .btn-hover:hover {
      opacity: 1;
    }
  }

  .text-danger {
    font-size: smaller;
    margin: 0;
  }
}

.list-section {
  .container {
    @extend .container;
    // overriding css for class container
    margin-top: 20px;
    box-shadow: 0px 0px 0px 0px;
    border: 0px;
    ////////////////////////////@extend
  }
}

#add-form {
  width: 100%;
}

.todo-list {
  width: 100%;
}

.d-flex {
  position: fixed !important;
  bottom: 7% !important;
  right: 0 !important;
  left: 45% !important;
  width: 200px !important;
}

.my-pagination ::ng-deep .page-link {
  color: rgb(3, 34, 17) !important;
}
.my-pagination ::ng-deep .page-item.active .page-link {
  color: white !important;
  background: linear-gradient(to right, #3c5f69, rgb(74, 215, 240)) !important;
  border: none;
}

.error {
  color: rgba(216, 106, 33, 0.89);
}

.swal2-container.swal2-backdrop-show,
.swal2-container.swal2-noanimation {
  z-index: 1 !important;
}

@media only screen and (max-width: 600px) {
  .d-flex {
    position: fixed !important;
    bottom: 7% !important;
    right: 0 !important;
    left: 23% !important;
    width: 200px !important;
  }
}
