<section class="section">
  <div class="container-flex">
    <div class="mat-h1">
      <h1>Todos</h1>
    </div>

    <div
      *ngIf="accountService.currentUser$ | async as user"
      class="dropdown"
      dropdown
    >
      <div class="drop-button">
        <button
          id="button-animated"
          dropdownToggle
          type="button"
          class="btn btn-primary btn-color dropdown-toggle"
          aria-controls="dropdown-animated"
        >
          {{ user.username | titlecase }} <span class="caret"></span>
        </button>
      </div>
      <div class="drop-ul">
        <ul
          id="dropdown-animated"
          *dropdownMenu
          class="dropdown-menu"
          role="menu"
          aria-labelledby="button-animated"
        >
          <li role="menuitem">
            <a class="dropdown-item"
              ><i class="fa fa-user-circle" aria-hidden="true"></i> Profile</a
            >
          </li>
          <li role="menuitem">
            <a
              class="dropdown-item"
              *ngIf="user.roles.includes('Admin')"
              routerLink="/admin-page"
              ><i class="fa fa-user" aria-hidden="true"></i> Admin</a
            >
          </li>
          <li role="menuitem">
            <a class="dropdown-item"
              ><i class="fa fa-bars" aria-hidden="true"></i> Preview</a
            >
          </li>
          <li role="menuitem">
            <a class="dropdown-item" (click)="logout()"
              ><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<div class="add-todo-container">
  <div class="container">
    <form (ngSubmit)="onSubmit(form)" #form="ngForm" id="add-form">
      <div class="form-group">
        <label class="label">New Todo</label>
        <div class="submit">
          <input
            type="text"
            class="form-control"
            placeholder="Type todo text here ..."
            ngModel
            name="todo"
            minlength="2"
            required
          />
          <button class="btn btn-hover" type="submit" [disabled]="form.invalid">
            <mat-icon>add_circle</mat-icon>Add
          </button>
        </div>
      </div>
      <div *ngIf="form.dirty">
        <p *ngIf="form.controls.todo.errors?.required" class="text-danger">
          Please type here todo task!
        </p>
        <p *ngIf="form.controls.todo.errors?.minlength" class="text-danger">
          Minimum length od todo task is 2!
        </p>
      </div>
    </form>
  </div>
</div>

<section class="list-section">
  <div class="container">
    <div class="todo-list">
      <app-todo-item
        *ngFor="let todo of todos"
        [todo]="todo"
        (todoToggle)="toggleCompleted(todo)"
        (editEvent)="onEdit(todo.id, todo)"
        (deleteEvent)="onDelete(todo.id)"
      ></app-todo-item>
    </div>
  </div>
</section>

<div class="d-flex-error justify-content-center error" *ngIf="error">
  <h1>{{ error }}</h1>
</div>

<div
  class="d-flex justify-content-center"
  style="padding: 1%"
  *ngIf="pagination"
>
  <pagination
    class="my-pagination"
    [boundaryLinks]="true"
    [totalItems]="pagination.totalItems"
    [maxSize]="5"
    [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pagedChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  >
  </pagination>
  <p class="pag-info">Total pages: {{ pagination.totalPages }}</p>
</div>
